.ButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.FeedbackButton {
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
}

.FeedbackButton:active{
    background-color:rgb(255, 181, 152);
}